.pageError {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnError {
    width: 12%;
    border-radius: 5px;
    margin-top: 10px;
    transition: opacity 0.4s;

    &:hover {
        opacity: 0.8;
    }
}
