.app.normal {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0e0e75;
    --primary-color: #0432be;
    --secondary-color: #0449e0;
    --inverted-primary-color: #2dbebe;
    --inverted-secondary-color: #04ff04;
}

:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #0e0e75;
    --primary-color: #041c65;
    --secondary-color: #0449e0;
    --inverted-primary-color: #2dbebe;
    --inverted-secondary-color: #04ff04;
}
