.profileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 10px;
}

.countryInput {
    margin: 10px 0 0 50px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    display: flex;
}

.editing {
    border: 2px solid var(--bg-color);
}
